<!-- templates/blog/blog_detail.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h2 class="mb-0">{{ blog.title }}</h2>
          </div>
          <div class="card-body">
            <p><strong>Autor:</strong> {{ blog.author.username }}</p>
            <p><strong>Fecha de Creación:</strong> {{ blog.created_at }}</p>
            <p><strong>Contenido:</strong> {{ blog.content }}</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}
